.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.left-column {
 	width: calc(50% - 50px);
 	display: block;
 	float: left;
 	margin-left: 20px;
 	padding: 20px;
}

.right-column {
 	width: calc(50% - 10px);
 	display: block;	
	margin-right: 20px;
 	float: right;
 	padding: 20px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
